<a href="https://colab.research.google.com/github/Aadithyan2003/CODSOFT/blob/main/Customer_Churn_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PROJECT:- CUSTOMER CHURN PREDICTION

##MADE  BY AADITHYAN RAMANATHAN

In [40]:
#importing the libraries
import numpy as np
import pandas as pd
import seaborn as sns
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score

In [2]:
dataset=pd.read_csv('/content/Churn_Modelling.csv')

In [3]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
dataset.shape

(10000, 14)

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [6]:
dataset.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [7]:
#dropping the useless columns
dataset=dataset.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [8]:
dataset.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

LABEL ENCODING

In [9]:
dataset['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [10]:
dataset=pd.get_dummies(dataset)

In [11]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CreditScore        10000 non-null  int64
 1   Age                10000 non-null  int64
 2   Tenure             10000 non-null  int64
 3   Balance            10000 non-null  float64
 4   NumOfProducts      10000 non-null  int64
 5   HasCrCard          10000 non-null  int64
 6   IsActiveMember     10000 non-null  int64
 7   EstimatedSalary    10000 non-null  float64
 8   Exited             10000 non-null  int64
 9   Geography_France   10000 non-null  bool
 10  Geography_Germany  10000 non-null  bool
 11  Geography_Spain    10000 non-null  bool
 12  Gender_Female      10000 non-null  bool
 13  Gender_Male        10000 non-null  bool
dtypes: bool(5), float64(2), int64(7)
memory usage: 752.1 KB

In [20]:
dataset[['Geography_Germany','Geography_Spain','Gender_Male','Gender_Female']]=dataset[['Geography_Germany','Geography_Spain','Gender_Male','Gender_Female']].astype(int)

In [21]:
dataset.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,True,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,False,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,True,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,0,True,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,False,0,1,1,0

In [22]:
dataset

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,True,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,False,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,True,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,0,True,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,False,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,True,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,True,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,True,0,0,1,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,False,1,0,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,True,0,0,1,0

In [23]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CreditScore        10000 non-null  int64
 1   Age                10000 non-null  int64
 2   Tenure             10000 non-null  int64
 3   Balance            10000 non-null  float64
 4   NumOfProducts      10000 non-null  int64
 5   HasCrCard          10000 non-null  int64
 6   IsActiveMember     10000 non-null  int64
 7   EstimatedSalary    10000 non-null  float64
 8   Exited             10000 non-null  int64
 9   Geography_France   10000 non-null  bool
 10  Geography_Germany  10000 non-null  int64
 11  Geography_Spain    10000 non-null  int64
 12  Gender_Female      10000 non-null  int64
 13  Gender_Male        10000 non-null  int64
dtypes: bool(1), float64(2), int64(11)
memory usage: 1.0 MB

HANDLING IMBALANCED DATA

In [16]:
dataset['Exited'].value_counts()
#we can see there is a huge difference between 0 and 1

Exited
0    7963
1    2037
Name: count, dtype: int64

In [17]:
x=dataset.drop('Exited',axis=1)
y=dataset['Exited']

In [18]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

Resampling imbalanced data by using SMOTE method(it evens the data samples to make it balanced)

In [41]:
x_res,y_res=SMOTE().fit_resample(x,y)

In [42]:
y_res.value_counts()

Exited
1    7963
0    7963
Name: count, dtype: int64

Train Test Splitting

In [44]:
x_train,x_test,y_train,y_test=train_test_split(x_res,y_res,test_size=0.2,random_state=42)

Feature Scaling

In [25]:
ss=StandardScaler()

In [45]:
x_train=ss.fit_transform(x_train)
x_test=ss.transform(x_test)

In [46]:
x_train

array([[ 0.00450105,  0.20855472,  0.07616359, ...,  2.15456752,
         0.8403415 , -0.8403415 ],
       [ 1.09863039,  0.10815846, -1.39402446, ..., -0.46413027,
        -1.18999241,  1.18999241],
       [ 1.18616074,  0.00776219, -1.39402446, ..., -0.46413027,
         0.8403415 , -0.8403415 ],
       ...,
       [ 0.20144433,  0.20855472,  1.17880463, ..., -0.46413027,
        -1.18999241,  1.18999241],
       [ 0.5734483 ,  0.61013979,  1.54635164, ..., -0.46413027,
         0.8403415 , -0.8403415 ],
       [ 0.52968313,  1.01172485, -1.39402446, ..., -0.46413027,
        -1.18999241,  1.18999241]])

In [47]:
x_test

array([[-1.2428064 , -1.196993  ,  0.07616359, ..., -0.46413027,
         0.8403415 , -0.8403415 ],
       [-0.46597457,  0.00776219, -0.29138342, ..., -0.46413027,
         0.8403415 , -0.8403415 ],
       [ 0.34368114, -0.99620047,  1.54635164, ...,  2.15456752,
         0.8403415 , -0.8403415 ],
       ...,
       [ 0.10297269, -0.29342661,  0.4437106 , ..., -0.46413027,
         0.8403415 , -0.8403415 ],
       [ 1.10957168,  1.11212112,  0.4437106 , ..., -0.46413027,
         0.8403415 , -0.8403415 ],
       [ 1.06580651,  0.30895099, -1.39402446, ..., -0.46413027,
        -1.18999241,  1.18999241]])

Using machine learning algorithm for prediction . Here Logistic Regression is used

In [49]:
lr=LogisticRegression()

In [50]:
lr.fit(x_train,y_train)

LogisticRegression()

In [51]:
y_pred1=lr.predict(x_test)

Using Different Metrics to predict accuracy

In [34]:
accuracy_score(y_test,y_pred1)

0.808

In [53]:
#after using SMOTE
accuracy_score(y_test,y_pred1)

0.7875078468298807

As our dataset is imbalanced we will also use metrices like precision,recall and f1 scores

In [36]:
precision_score(y_test,y_pred1)

0.5891472868217055

In [55]:
#after using SMOTE
precision_score(y_test,y_pred1)

0.7811296534017972

In [37]:
recall_score(y_test,y_pred1)

0.18673218673218672

In [57]:
#after using SMOTE
recall_score(y_test,y_pred1)

0.7836445589182228

In [38]:
f1_score(y_test,y_pred1)

0.2835820895522388

In [58]:
#after using SMOTE
f1_score(y_test,y_pred1)

0.7823850851816135